/* Universal Selector */
* {
  margin:0;
  padding:0;  
}

/* Element Selectors */
body {
  position: relative;
  font-family: fantasy;
  font-size: 20px;
  background-color: #fff5f6;
  color: #d35d8e;
}

h1,
h2 {
  margin: 50px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration:dotted;
}

a {
  text-decoration:dotted;
  color: #FDF8F5;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #1e7085;
}

header {
  position: fixed;
  border-bottom: 10px solid #da95b5fd;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid #d6d2d1;
  color: #FDF8F5;    
}

figure {
  margin-bottom: 40px;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 30%;
  height:auto;
}

section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #da95b5fd;
  background-color:  #bfdee8;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid #da95b5fd;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #d6d2d1;
}

textarea {
  vertical-align: top;
  height: 60px;
}
  
button {
  height: 40px;
  width: 120px;
  background-color: #d6d2d1;
  color: #1e7085;
}
 
/* Class Selectors */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
